// Custom Colors


// Misc
$link-color:        #50B3EC;
$link-color-hover:  #A2CA72;
$placeholder-color: #aaa;

$line-color: rgba(0,0,0,.08);

// Default Colors
$white:         #fff;
$offwhite:      #fafafa;
$black:         #000;
$offblack:      #333;
$required-red:  #EB0F0F;
$success-green: #5CB660;

// Social Colors
$twitter:       #2AA9E0;
$facebook:      #3C5A98;
$youtube:       #E63A41;
$googleplus:    #C23323;
$pinterest:     #CC2127;
$linkedin:      #0074B1;
$instagram:     #C536A3;
$houzz:         #7AC143;
